<html lang="en">


<body>

<h2>Register</h2>
  <div class="create-blog content">
    <form action="/user/register" method="POST">
      <label for="username">UserName:</label>
      <input type="text" id="title" name="username" required>
      <label for="password">Password:</label>
      <input type="text" id="parrword" name="password" required>
      <button>register</button>
    </form>
  </div>


</body>
</html>